{% extends 'base.html' %} {% block head %} {% if city %}
<div
  class="jumbotron text-center jumbotron_bg"
  style="background-image: url('{{ url_for('static', filename= 'img/' + city.image) }}');"
>
  <h1 class="display-4">Discovery {{ city.name }}</h1>
  <p class="lead">{{ city.description }}</p>
</div>
{% else %}
<h1 class="text-center my-5">Search Results</h1>
{% endif %} {% endblock %} {% block main %}
<div class="row mt-5">
  {% for tour in tours%}
  <div class="col-12 col-sm-6 col-lg-4 mb-4">
    <div class="card">
      <img
        src="{{url_for('static', filename='img/' + tour.image)}}"
        class="card-img-top"
        alt="{{ tour.name }}"
      />
      <div class="card-body d-flex flex-column justify-space-around">
        <h5 class="card-title">{{ tour.name }}</h5>
        <p class="card-text limited_text">{{ tour.description }}</p>
        <a
          href="/tour/{{tour.id }}"
          class="btn btn-outline-primary btn-block"
          >Read More</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
