{% extends 'base.html' %} {% block main %}
<div class="row">
  <div class="row detail_box">
    <div class="col-12 col-sm-6">
      <img
        src="{{url_for('static', filename = 'img/'+tour.image)}}"
        class="rounded img-fluid"
        alt="{{tour.name}}}"
      />
    </div>
    <div class="col-12 col-sm-6 d-flex flex-column">
      <h3>{{tour.name}}</h3>
      <div class="desc pb-3">{{tour.description}}</div>
      <div class="">
        A meal included: {% if tour.has_meal %}
        <span>Yes</span>
        {% else %}
        <span>No</span>
        {% endif %}
      </div>
      <div class="">Language offered: {{ tour.languages }}</div>
      <div class="">Price: ${{tour.price}}/per person</div>
      <form
        class="mt-3"
        action="{{url_for('main.order')}}"
      >
        <input
          type="hidden"
          id="tour_id"
          name="tour_id"
          value="{{tour.id}}"
        />
        <input
          class="d-block btn btn-primary"
          type="submit"
          value="Add to cart"
        />
      </form>
    </div>
  </div>
</div>
{% endblock %}
