{% extends 'base.html' %} {% block head %}
<div class="jumbotron text-center jumbotron_bg">
  <h1 class="display-4">Xiao Long Bao Workshop - Taipei</h1>
  <p class="lead">Make your own ones at home.</p>
</div>
{% endblock %} {% block main %}
<div class="row">
  <div class="row detail_box">
    <div class="col-12 col-sm-6">
      <img
        src="/img/xiao-long-bao.jpeg"
        class="rounded img-fluid"
        alt=""
        srcset=""
      />
    </div>
    <div class="col-12 col-sm-6 d-flex flex-column justify-content-between">
      <h3>Xiao Long Bao</h3>
      <div class="desc pb-3">
        Learn how to cook this delicious with a thin, tender wrapper, and rich,
        flavorful broth. The filling is juicy and tender. Bite gently to release
        the hot soup, paired perfectly with ginger and vinegar.
      </div>
      <div class="">Classes on: Tuesday, Thursday, Saturday</div>
      <div class="">Time: 9:30 – 12:30 (Includes lunch)</div>
      <div class="">Price: NTD 2,000/per person</div>
      <div class="">Language offered: English or Mandarin</div>
      <button
        class="btn btn-primary btn-block mt-3"
        type="button"
      >
        Add to cart
      </button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h3 class="text-center">Contact Us</h3>
    </div>
    <div class="col-12">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
          />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
          <small
            id="emailHelp"
            class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            type="text"
            class="form-control"
            id="message"
            placeholder="Send us any question you have."
          ></textarea>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
