{% extends 'base.html' %} {% block head %}
<div class="jumbotron text-center jumbotron_bg">
  <h1 class="display-4">Xiao Long Bao Workshop - Taipei</h1>
  <p class="lead">Make your own ones at home.</p>
</div>
{% endblock %} 
{% block main %}
<div class="row">
  <div class="row detail_box">
    {% for tour in tours%}
    <div class="col-12 col-sm-6">
      <img
        src="{{url_for('static', filename = 'img/'+tour.image)}}"
        class="rounded img-fluid"
        alt=""
        srcset=""
      />
    </div>
    <div class="col-12 col-sm-6 d-flex flex-column justify-content-between">
      <h3>{{tour.name}}</h3>
      <div class="desc pb-3">
        {{tour.description}}
      </div>
      <div class="">Classes on: Tuesday, Thursday, Saturday</div>
      <div class="">Time: 9:30 – 12:30 (Includes lunch)</div>
      <div class="">Price: ${{tour.price}}/per person</div>
      <div class="">Language offered: English or Mandarin</div>
      <button
        class="btn btn-primary btn-block mt-3"
        type="button"
      >
        Add to cart
      </button>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
