/* customize BS class */
.card-img-top {
  width: auto;
  height: 144px;
  object-fit: cover;
}

.card-body {
  height: 200px;
}

/* Home */
.home_page {
  .jumbotron_bg {
    /* background: url("/img/taipei.jpeg") no-repeat right bottom;
    text-align: center;
    background-size: cover;
    color: white; */
  }
}

.city_page {
  .jumbotron_bg {
    /* background: url("/img/taipei.jpeg") no-repeat left top;
    text-align: center;
    background-size: cover;
    color: white; */
  }
}

.detail_page {
  .jumbotron_bg {
    /* background: url("/img/taipei.jpeg") no-repeat left center;
    text-align: center;
    background-size: cover;
    color: white; */
  }
  .detail_box {
    img {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
}
